<label class="label" *ngIf="label !== 'Type'" style="font-weight: bolder;">{{label}}:</label>

<input type="text" *ngIf="label == 'Name' " [formControl]="control" id="name"
  [ngClass]="{'alert-danger': showErrors()}">

<div *ngIf="label == 'Type'" class="d-flex flex-row" >
  <label class="label" *ngIf="label == 'Type'" style="font-weight: bolder;">{{label}}:</label>
  <div class="radio container d-flex flex-row" style="gap:1rem;">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" id="furniture" value="furniture" [formControl]="control">
      <label class="form-check-label" for="furniture">
        Furniture
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" id="toys" value="toys" [formControl]="control">
      <label class="form-check-label" for="toys">
        Toys
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" id="treats" value="treats" [formControl]="control">
      <label class="form-check-label" for="treats">
        Treats
      </label>
    </div>
  </div>

</div>
<input type="text" *ngIf="label == 'Color' " [formControl]="control" id="color"
  [ngClass]="{'alert-danger': showErrors()}">
<input *ngIf="label =='Warranty (yrs)'" type="number" [formControl]="control" id="warranty"
  [ngClass]="{'alert-danger': showErrors()}">
<input *ngIf="label =='Max Load (kg)'" type="number" [formControl]="control" id="maxLoad"
  [ngClass]="{'alert-danger': showErrors()}">
<input *ngIf="label =='Price ($)'" type="number" [formControl]="control" id="price"
  [ngClass]="{'alert-danger': showErrors()}">
<textarea *ngIf="label =='Description'" [formControl]="control" cols="50" rows="2"></textarea>
<textarea *ngIf="label =='Image Path 1'" [formControl]="control" cols="50" rows="1"></textarea>
<textarea *ngIf="label =='Image Path 2'" [formControl]="control" cols="50" rows="1"></textarea>
<textarea *ngIf="label =='Image Path 3'" [formControl]="control" cols="50" rows="1"></textarea>
<textarea *ngIf="label =='Care Info'" [formControl]="control" cols="50" rows="2"></textarea>
<ng-container *ngIf="control.errors && control.dirty && control.touched">
  <div class="error-field" *ngIf="control.errors.required">
    Field is required!
  </div>
  <div class="error-field" *ngIf="control.errors.pattern.requiredPattern == '^[^0-9]+$'">
    No numbers allowed!
  </div>
  <div class="error-field" *ngIf="control.errors.pattern.requiredPattern == '^(.*)[^.]$'">
    Omit period character (.) at the end!
  </div>
  <div class="error-field" *ngIf="control.errors.pattern.requiredPattern == '^http.*$'">
    Start with protocol 'HTTPS'!
  </div>
  <div class="error-field" *ngIf="control.errors.minlength">
    3 minimum characters!
  </div>
</ng-container>
