.alert-danger {
  border: 1px solid red;
}

.alert {
  color: red;
}

.error-field {
  color: red;
  margin-top: 0.3rem;
}

input {
  border: 0.5px solid black;
  border-radius: 0.5rem;
  margin-left: 0.4rem;
}

#color,
#maxLoad,
#price,
#warranty {
  width: 4rem;
}

.textarea{
  width:200px;
  height:50px;
  border:1px solid black;
}
