<div class="row">
  <div class="col-xs-12 mt-5">
    <form
      #productForm="ngForm"
      (ngSubmit)="onSubmit(productForm)"
      novalidate
    >
      <h2 class="mb-3">{{ editMode ? "Edit Product" : "Create Product" }}</h2>

      <div class="form-group mb-3">
        <label for="name" class="form-label">Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
          #name="ngModel"
          ngModel
        />
        <div *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="warning">
          <div *ngIf="name.errors.required">
            Name is required!
          </div>
        </div>

      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          required
          #description="ngModel"
          ngModel
        />
        <div *ngIf="!description?.valid && (description?.dirty || description?.touched)" class="warning">
          <div *ngIf="description.errors.required">
            Description is required!
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="price"
          required
          #price
          ngModel
        />
        <div *ngIf="!price?.valid && (price?.dirty || price?.touched)" class="warning">
          <div *ngIf="price.errors.required">
            Price is required!
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="imagePath" class="form-label">Image Url:</label>
        <input
          type="text"
          class="form-control"
          id="imagePath"
          name="imagePath"
          required
          #imagePath
          ngModel
        />
        <div *ngIf="!imagePath?.valid && (imagePath?.dirty || imagePath?.touched)" class="warning">
          <div *ngIf="imagePath.errors.required">
            Image Path is required!
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!productForm.valid"
      >
        {{ editMode ? "Update" : "Create" }}
      </button>
    </form>
  </div>
</div>
