.product-name {
  margin-top: 1rem;
}

.material-symbols-outlined {
  text-decoration: none;
  color: inherit;
}

.quantity-symbol {
  color: darkred;
  font-weight: bold;
  font-size: 0.8em;
  border: 1px solid grey;
  border-radius: 1.3rem;
  cursor: pointer;
  outline-style: none;
}

.quantity-symbol:hover {
  color: white;
  background-color: black;
}

@media (max-width: 768px) {

  .card-body {
    font-size: 0.7rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .cart-section {
    width: 340px;
  }

  .order-section {
    width: 340px;
  }
}

@media (min-width: 992px) {
  .whole-section{
    margin: 1.2rem;
  }
}
