<div class="row whole-section d-flex">

  <div class="col-xs-12 col-md-6">
    <div class="cart-container mt-3 d-flex flex-column align-items-center ">
      <div class="card cart-section mb-3">
        <img src="assets/images/checkout.jpg" class="card-img-top img-fluid" alt="scandanavian furniture" />
        <div class="card-body">
          <h5 class="card-title"> {{cart.length>0? 'Your Shopping Cart':'Your shopping cart is empty, time to get
            busy!'}}
          </h5>
          <div class="d-flex justify-content-center" *ngIf="cart.length > 0">
            <table class="table table-striped align-middle" style="width: 100%; margin: 0.5rem; text-align: center;">
              <thead>
                <tr>
                  <th scope="col" style="text-align: left;">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cart; index as i">
                  <td class="d-flex flex-row align-items-center product-image-gap">
                    <div><img [src]="item.imageUrl" height="40px"
                        style="border-radius:0.5rem; border: 0.2px solid black;">
                    </div>
                    <p class="product-name">{{item.name | titlecase}}</p>
                  </td>
                  <td>${{item.price}}</td>
                  <td><button (click)="add(i)" class="material-symbols-outlined quantity-symbol">add</button><span
                      style="margin: 0.65rem; cursor:default;">{{item.quantity}}</span><button (click)="remove(i)"
                      [disabled]="item.quantity == 1" class="material-symbols-outlined quantity-symbol">remove</button>
                  </td>
                  <td> <a (click)="removeCart(i)"
                      style="cursor: pointer; text-decoration: none; color: inherit; margin-top: 0.45rem; "
                      class="material-symbols-outlined">delete</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="cart.length > 0" class="d-flex justify-content-end m-2" style="gap: 0.5rem;">
            <button (click)="resetCart()" class="btn btn-primary">Reset Cart</button><button (click)="pushToOrder()"
              class="btn btn-success">Push to Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="order-container mt-2 d-flex flex-column align-items-center ">
      <div class="card order-section mb-2">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <div class="d-flex justify-content-center" *ngIf="orders.length > 0">
            <table class="table table-striped align-middle" style="width: 100%; margin: 0.5rem; text-align: center;">
              <thead>
                <tr>
                  <th scope="col" style="text-align: left;">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Action</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orders; index as i">
                  <td class="d-flex flex-row align-items-center" style="gap: 1rem">
                    <div><img [src]="item.imageUrl" height="50px"
                        style="border-radius:0.5rem; border: 0.2px solid black;">
                    </div>
                    <p class="product-name">{{item.name | titlecase}}</p>
                  </td>
                  <td>${{item.price}}</td>
                  <td><span style="margin: 0.65rem; cursor:default;">{{item.quantity}}</span>
                  </td>
                  <td> <a (click)="removeOrder(i)"
                      style="cursor: pointer; text-decoration: none; color: inherit; margin-top: 0.45rem; "
                      class="material-symbols-outlined">delete</a></td>
                  <td> ${{item.quantity * item.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="coupon-code">
          <p class="card-text" style="margin-left:1rem ;" *ngIf="orders.length == 0">
            Your order section is empty, fill it up with good stuff!
          </p>
          <div class="card-footer">
            <button class="btn btn-primary" (click)="orderConfirm()" [disabled]="orders.length==0">Confirm
              Order</button>
            <span *ngIf="orders.length!==0" style="margin-left: 1rem;">Order total: ${{total}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
