<div style="cursor: pointer;" class="card rounded p-3" aria-current="true">
  <div>
    <div class="d-flex w-100 justify-content-between mb-1">
      <div class="d-flex" style="gap: 0.75rem;">
        <h5>{{ product.name | titlecase}}</h5>
        <span style="color: darkred;">${{product.price}}</span>
      </div>
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Manage Product
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmPopUp" style="cursor: pointer;"
              (click)="formOpen(product,productId)">Add to Cart</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor: pointer;"
              (click)="formOpen(product, productId)">Edit</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmPopUp" style="cursor: pointer;"
              (click)="formOpen(null,productId)">Delete</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center" [routerLink]="product.name" (click)="emitProduct(product)">
      <img class="product-image" [src]="product.imagePath[0]" style="max-height: 175px">
      <ul class="product-desc">
        <li>{{productDescList[0]}}</li>
        <li>{{productDescList[1]}}</li>
      </ul>
    </div>
  </div>
</div>

<app-product-form></app-product-form>

<app-product-confirm></app-product-confirm>
