.product-desc {
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .card {
    width: 350px;
  }
  .product-image{
    height: 110px;
  }
  .product-desc{
    margin-top: 0.5rem;
  }
}

@media (min-width: 992px) {
  .card {
    width: 450px;
  }
}
