<h2 class="header">everything you need, here in shopMe ...</h2>
<div class="carousel-container">
  <ngb-carousel class="carousel mt-3">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <picture>
          <source srcset="assets/images/stoolDesktop.jpg" media="(min-width:768px)">
          <img (click)="goType('furniture')" class="img-fluid" src="assets/images/stool.jpg"
            alt="Random slide" />
        </picture>
      </div>
      <div class="carousel-caption">
        <h2>furniture</h2>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <picture>
          <source srcset="../../../assets/images/toysDesktop.jpg" media="(min-width:768px)">
          <img (click)="goType('toys')" class="img-fluid" src="../../../assets/images/toys.jpg" alt="Random slide" />
        </picture>
      </div>
      <div class="carousel-caption">
        <h2>toys</h2>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <picture>
          <source srcset="../../../assets/images/treatsDesktop.jpg" media="(min-width:768px)">
          <img (click)="goType('treats')" class="img-fluid" src="../../../assets/images/treats.jpg" alt="Random slide" />
        </picture>
      </div>
      <div class="carousel-caption">
        <h2>treats</h2>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
