::ng-deep .carousel-inner {
  border-radius: 0.5rem;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-caption h3 {
  color: beige;
}

.img-fluid{
  cursor: pointer;
}

.header{
  text-align: center;
  margin-top: 1rem;
  color:dimgray;
}

@media (max-width: 768px) {
  .carousel {
    width: 300px;
  }
  .header{
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .carousel {
    height: auto;
    width: 700px;
  }
}



