.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.product-title {
  font-size: 3rem;
}

.product-price,
.product-warranty,
.product-delivery {
  font-size: 1.75rem;
}

.product-price {
  color: rgb(209, 66, 50);
}

.nav-tabs {
  font-size: 1.5rem;
}

.nav-link {
  color: brown;
}

.material-symbols-outlined {
  font-size: 3rem;
}

.delivery-group {
  display: inline-flex;
  gap: 1rem;
  color: brown;
}

.quantity {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

#quantity{
  width: 8rem;
}

.cart-button {
  display: flex;
  justify-content: center;
  font-weight: 200;
}

.add-to-cart {
  background-color: #ffd8a8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-to-cart-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.quantity {
  text-align:center;
  border-radius: 20px;
  
}
.btn:hover,
.btn:active {
  background-color: #ff922b;
  cursor: pointer;
}
.btn-small {
  font-size: 14px;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: #fd7e14;
  color: #343a40;
  border-radius: 20px;
  text-align: center;
}

.card-body {
  padding: 0;
}

/*Features*/
.cart-icon {
  width: 24px;
  height: 24px;
}
.heart-icon {
  stroke: #495057;
  fill: #495057;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
.calandar-icon {
  stroke: #fd7e14;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.interest-icon {
  stroke: #fd7e14;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
